<div class="container">
  <div class="row">
    <div class="col-12 py-5 mb-1">
        <div class="tale-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="border-0 bg-dark" scope="col">
                    <div class="p-2 px-3 text-uppercase">Order</div>
                  </th>
                  <th class="border-0 bg-dark" scope="col">
                    <div class="py-2 text-uppercase">Date</div>
                  </th>
                  <th class="border-0 bg-dark" scope="col">
                    <div class="py-2 text-uppercase">Total</div>
                  </th>
                  <th class="border-0 bg-dark" scope="col">
                    <div class="py-2 text-uppercase">Status</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders" style="cursor: pointer;" routerLink="/orders/{{order.id}}">
                  <td class="align-middle">
                    <strong># {{order.id}}</strong>
                  </td>
                  <td class="align-middle">
                    {{order.orderDate | date:'medium'}}
                  </td>
                  <td class="align-middle">
                    {{order.total | currency}}
                  </td>
                  <td class="align-middle text-center">
                    {{order.status}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>
